body {
    margin: 0;
}

header {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 20px; /* Espacement intérieur */
    text-align: center; /* Centrer le texte */
    width: 100%; /* Prendre toute la largeur */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
    position: relative; /* Position relative pour s'assurer qu'il est en haut */
    top: 0; /* En haut de la page */
}

header h1 {
    margin: 0; /* Supprimer la marge */
    font-size: 24px; /* Taille de la police */
}

header nav {
    margin-top: 10px; /* Marge au-dessus de la navigation */
}

header nav a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Supprimer la décoration des liens */
    margin: 0 15px; /* Espacement entre les liens */
    font-size: 18px; /* Taille de la police des liens */
}

header nav a:hover {
    text-decoration: underline; /* Souligner les liens au survol */
}